In [1]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
disney_df = pd.read_csv("Resources/disney.csv")
disney_df.head()

                            Title  Year  Age  IMDB Rotten Tomatoes
0                        Lab Rats  2012   7+   6.6             NaN
1  America's Funniest Home Videos  1989   7+   6.2             NaN
2                     Brain Games  2011   7+   8.3             NaN
3                          Jessie  2011  all   5.9             NaN
4                        PJ Masks  2015  all   5.6             NaN